{% extends "template_base.html" %} {% block content %}

<div class="container">
  <h1>LSLGAv2 Preview</h1>

  <p>{{ ngals }} galaxies with z<{{zlimit}}</p>

  {% for file, file80, idstr, gals in data %}
  <h3>
    <a href="{{ file }}">Chunk {{idstr}}</a> (<a href="{{ file80 }}">80 kpc</a>)
  </h3>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Galaxy</th>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">z</th>
        <th scope="col">PA</th>
        <th scope="col">B/A</th>
        <th scope="col">D<sub>25</sub></th>
        <th scope="col">SB<sub>D25</sub></th>
        <th scope="col">Magnitude</th>
      </tr>
    </thead>
    <tbody>
      {% for g in gals %}
      <tr>
        <th scope="row">
          <a
            target="blank_"
            href="http://legacysurvey.org/viewer?ra={{ g.RA }}&dec={{ g.dec }}&layer=dr8&zoom=14"
            >{{ g.GALAXY }}</a
          >
        </th>
        <td>{{ g.LSLGA_ID }}</td>
        <td>{{ g.TYPE }}</td>
        <td>{{ "{:0.3f}".format(g.Z) }}</td>
        <td>{{ g.PA }}</td>
        <td>{{ "{:0.2f}".format(g.BA) }}</td>
        <td>{{ "{:0.2f}".format(10**(1+g.D25)) }}''</td>
        <td>{{ "{:0.2f}".format(g.SB_D25) }}</td>
        <td>{{ g.MAG }} ({{ g.MAG_REF }}-band)</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</div>

{% endblock %}
