{% extends "template_base.html" %} {% block content %}

<div class="container">
  <h1>LSLGAv2 Preview</h1>

  <p>{{ ngals }} galaxies with z<{{zlimit}}</p>

  {% for file, file80, idstr, gals in data %}
  <h3>
    <a href="{{ file }}">Chunk {{idstr}}</a> (<a href="{{ file80 }}">80 kpc</a>)
  </h3>
  <div>
    {% for g in gals %}
    <a
      target="blank_"
      href="http://legacysurvey.org/viewer?ra={{ g.RA }}&dec={{ g.dec }}&layer=dr8&zoom=14"
      >{{ g.GALAXY }}</a
    >
    / {% endfor %}
  </div>

  {% endfor %}
</div>

{% endblock %}
