{% extends "template_base.html" %} {% block content %}

<div class="container">
  <h1>LSLGAv2 Preview</h1>

  <p>{{ ngals }} galaxies with z<{{zlimit}}</p>

  <p>List galaxy names: <a href="list.html">list.html</a> (~50 Mb)</p>
  <p>
    Table with galaxy parameters: <a href="table.html">table.html</a> (~155 Mb)
  </p>

  {% for file, file80, idstr, gals in data %}
  <a href="{{ file }}">Chunk {{idstr}}</a> (<a href="{{ file80 }}">80 kpc</a>) /
  {% endfor %}
</div>

{% endblock %}
