{% extends "template_base.html" %} {% block extrahead %}
<style>
    .cont {
      position: relative;
      display: inline-block;
    }
    .top-left {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .bottom-left {
      position: absolute;
      bottom: 7px;
      left: 1px;
    }
  }
</style>
{% endblock %} {% block content %}

<h1>{{ title }}</h1>

{% for g, sg in gals %}

<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus">
  <div class="cont">
    <img
      src="http://legacysurvey.org/viewer/jpeg-cutout?ra={{g.RA}}&dec={{g.DEC}}&size=200&layer=dr8&pixscale=0.3&bands=grz"
      class="figure-img"
      style="width: 200px; height: 200px;"
    />
    <div class="top-left text-warning">{{ g.GALAXY }}</div>
    <div class="bottom-left text-warning">{{ "{:0.1f}".format(sg) }}kpc</div>
  </div>
</a>
<div class="gal_details" style="display:none">
  <b>{{ g.GALAXY }}</b><br />
  ID: {{ g.LSLGA_ID }}<br />
  Type: {{ g.TYPE }}<br />
  z: {{ "{:0.3f}".format(g.Z) }}<br />
  PA: {{ g.PA }}<br />
  B/A: {{ "{:0.2f}".format(g.BA) }}<br />
  D<sub>25</sub>: {{ "{:0.2f}".format(10**(1+g.D25)) }}''<br />
  SB<sub>D25</sub>: {{ "{:0.2f}".format(g.SB_D25) }}<br />
  {{ g.MAG_REF }}: {{ g.MAG }}<br />

  <a
    target="blank_"
    href="http://legacysurvey.org/viewer?ra={{ g.RA }}&dec={{ g.dec }}&layer=dr8&zoom=14"
    >Legacy Survey</a
  >
</div>

{% endfor %}

<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
      trigger: 'click',
      html: true,
      content: function () {
        return $(this)
          .next('.gal_details')
          .html()
      }
    })
  })
</script>
{% endblock %}
